<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.javascool.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="javascool.ui.application"
            name="Java&apos;s Cool">
         <property
               name="appName"
               value="Java&apos;s Cool">
         </property>
         <property
               name="aboutImage"
               value="img/splash_help.gif">
         </property>
         <property
               name="aboutText"
               value="Java&apos;s Cool&#x0D;&#x0A;&#x0D;&#x0A;Version: 2.0.0&#x0D;&#x0A;&#x0D;&#x0A;&quot;Java&apos;s Cool&quot; est un logiciel Open Source sous licence Cecill.&#x0D;&#x0A;Visit http :  http://javascool.gforge.inria.fr/&#x0D;&#x0A;&#x0D;&#x0A;Projet soutenu par l&apos;INRIA http://www-sop.inria.fr/&#x0D;&#x0A; et l&apos;universite de Nice Sophia-Antipolis http://www.unice.fr">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/org.javascool.ui/img/logo_JVS_16.gif,img/logo_JVS_32.gif,img/logo_JVS_64.gif,img/logo_JVS_128.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="20,270,480,20">
         </property>
         <property
               name="startupProgressRect"
               value="10,290,480,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="activity.removeUnusedIcons"
            name="Remove Unused Icons Manager">
      </activity>
      <activityPatternBinding
            activityId="activity.removeUnusedIcons"
            pattern="org.eclipse.ui.editors/org.eclipse.ui.edit.text.*nnotation">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="activity.removeUnusedIcons"
            pattern="org.eclipse.ui.editors/org.eclipse.ui.edit.text.gotoLastEditPosition">
      </activityPatternBinding>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.javascool.ui.application"
            name="Java&apos;s Cool">
         <property
               name="windowImages"
               value="img/logo_JVS_16.gif,/javascool.ui/img/logo_JVS_32.gif,/javascool.ui/img/logo_JVS_64.gif,/javascool.ui/img/logo_JVS_128.gif">
         </property>
         <property
               name="aboutText"
               value="Java&apos;s Cool&#x0A;&#x0A;Version: 2.0.0&#x0A;&#x0A;&quot;Java&apos;s Cool&quot; est un logiciel Open Source sous licence Cecill.&#x0A;Visit http :  http://javascool.gforge.inria.fr/&#x0A;&#x0A;Projet soutenu par l&apos;INRIA http://www-sop.inria.fr/&#x0A; et l&apos;universite de Nice Sophia-Antipolis http://www.unice.fr">
         </property>
         <property
               name="aboutImage"
               value="/javascool.ui/img/splash_help.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="10,290,480,15">
         </property>
         <property
               name="startupMessageRect"
               value="20,270,480,20">
         </property>
         <property
               name="appName"
               value="Java&apos;s Cool">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
