<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.unice.javascool.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="org.unice.javascool.ui.Perspective"
            id="org.unice.javascool.ui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="org.unice.javascool.ui.views.View"
            id="org.unice.javascool.ui.view">
      </view>
   </extension>
   
   
   <extension 
   	point="org.eclipse.ui.activities">
   	<activity
		name="Remove Unused Icons Manager"
		id="activity.removeUnusedIcons" />
	  
	  <activityPatternBinding
            activityId="activity.removeUnusedIcons"
            pattern="org.eclipse.ui.ide/org.eclipse.update.ui.*"/>
      <activityPatternBinding
            activityId="activity.removeUnusedIcons"
            pattern="org.eclipse.ui.ide/.*WorkingSet.*"/>
      <activityPatternBinding
            activityId="activity.removeUnusedIcons"
			pattern="org.eclipse.ui.editors/org.eclipse.ui.edit.text.*nnotation"/>
      <activityPatternBinding
            activityId="activity.removeUnusedIcons"
			pattern="org.eclipse.ui.editors/org.eclipse.ui.edit.text.gotoLastEditPosition"/>
	 
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.unice.javascool.ui.application"
            name="JavasCool">
         <property
               name="appName"
               value="JavasCool">
         </property>
         <property
               name="aboutImage"
               value="icons/splash_help.gif">
         </property>
         <property
               name="aboutText"
               value="Java&apos;s Cool&#x0A;&#x0A;Version: 1.0.1&#x0A;&#x0A;Java&apos;s Cool est un projet Open Source sous licence GNU GPL.&#x0A;Visit http :  http://javascool.gforge.inria.fr/&#x0A;&#x0A;Projet soutenu par l&apos;INRIA http://www-sop.inria.fr/&#x0A; et l&apos;universite de Nice/Sophia-Antipolis http://www.unice.fr">
         </property>
         <property
               name="startupProgressRect"
               value="0,0,500,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="200,20,200,22">
         </property>
         <property
               name="windowImages"
               value="icons/logo_JVS_16.gif,icons/logo_JVS_32.gif,icons/logo_JVS_64.gif,icons/logo_JVS_128.gif">
         </property>
        
      </product>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.unice.javascool.ui.application"
            name="JavasCool">
         <property
               name="windowImages"
               value="icons/logo_JVS_16.gif,icons/logo_JVS_32.gif,icons/logo_JVS_64.gif,icons/logo_JVS_128.gif">
         </property>
         <property
               name="aboutText"
               value="Java&apos;s Cool&#x0A;&#x0A;Version: 1.1&#x0A;&#x0A;Java&apos;s Cool est un projet Open Source sous licence GNU GPL.&#x0A;Visit http://www........&#x0A;&#x0A;Projet soutenu par l&apos;INRIA http://www-sop.inria.fr/&#x0A; et l&apos;universite de Nice/Sophia-Antipolis http://www.unice.fr">
         </property>
         <property
               name="aboutImage"
               value="icons/splash_help.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="0,0,500,15">
         </property>
         <property
               name="startupMessageRect"
               value="200,20,200,22">
         </property>
         <property
               name="appName"
               value="JavasCool">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   
   

</plugin>
