<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%currencyeditor.EDITOR_NAME"
            extensions="jvs,java"
            icon="img/sample.gif"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            class="org.javascool.ui.editor.editors.JVSEditor"
            id="org.javascool.ui.editor.editors.JVSEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.javascool.ui.editor.Perspective"
            icon="img/sample.gif"
            id="org.javascool.ui.editor.perspectiveEditor"
            name="JVS Editor">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.javascool.ui.editor.preferences.ColorPreferencePage"
            id="org.javascool.ui.editor.preferences.ColorPreferencePage"
            name="Coloration syntaxique">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.javascool.ui.editor.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.javascool.ui.editor.actionSet1"
            label="label"
            visible="true">
         <action
               class="org.javascool.ui.editor.actions.OpenFileAction"
               icon="img/charger.png"
               id="org.unice.javascool.actions.OpenFileAction"
               label="Ouvrir un fichier..."
               menubarPath="file/fileStart"
               style="push"
               toolbarPath="main/FileGroup"
               tooltip="Ouvrir un fichier">
         </action>
         <action
               class="org.javascool.ui.editor.actions.NewEditorAction"
               icon="img/nouveau.png"
               id="org.javascool.ui.editor.actions.newEditorAction"
               label="Nouveau"
               menubarPath="file/fileStart"
               style="push"
               toolbarPath="main/FileGroup"
               tooltip="Nouveau Fichier">
         </action>
         <action
               class="org.javascool.ui.editor.actions.CompilCodeAction"
               icon="img/compile.png"
               id="org.javascool.ui.editor.actions.compileCodeAction"
               label="Compilation"
               menubarPath="compile/compil"
               style="push"
               toolbarPath="console/compil"
               tooltip="Compiler le code Source">
         </action>
         <action
               class="org.javascool.ui.editor.actions.ExecuteCodeAction"
               icon="img/Execute.gif"
               id="org.javascool.ui.editor.actions.executeCodeAction"
               label="Execution"
               menubarPath="compile/execute"
               style="push"
               toolbarPath="console/execute">
         </action>
         <action
               class="org.javascool.ui.editor.actions.StopExecutionAction"
               icon="img/stop.gif"
               id="org.javascool.ui.editor.actions.stopAction"
               label="Stop execution"
               menubarPath="compile/stop"
               style="push"
               toolbarPath="console/stop">
         </action>
         <menu
               id="compile"
               label="Source">
         </menu>
         <action
               class="org.javascool.ui.editor.actions.ShowJavaSourceAction"
               icon="img/source.gif"
               id="org.javascool.ui.editor.actions.showJavaSourceAction"
               label="Afficher le code source Java"
               menubarPath="compile/Group2"
               style="push"
               tooltip="afficher le code source java">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.javascool.ui.editor.AutoOpenEditorAtStart"></startup>
   </extension>

</plugin>
