Redirect permanent "/proglet/doc/about-all.htm" "http://javascool.gforge.inria.fr"
Redirect permanent "/proglet/doc/about-autres.htm" "http://javascool.gforge.inria.fr/?page=home&action=faq#Et_au_del.C3.A0_de_JavaScool_.3F."
Redirect permanent "/proglet/doc/about-faq.htm" "http://javascool.gforge.inria.fr/?page=home&action=faq"
Redirect permanent "/proglet/doc/about-resume.htm" "http://javascool.gforge.inria.fr"
Redirect permanent "/proglet/doc/about-manifeste.htm" "http://javascool.gforge.inria.fr/?page=home&action=manifest"
Redirect permanent "/proglet/doc/about-algorithm.htm" "http://interstices.info/ingredients-algorithmes"
Redirect permanent "/proglet/doc/about-information.htm" "http://interstices.info/reflet-numerique"
Redirect permanent "/proglet/doc/sujet-hello-world.htm" "http://javascool.gforge.inria.fr/v4/?page=proglets&action=show&id=abcdAlgos&helpFile=./tutoriel.htm"
Redirect permanent "/proglet/doc/sujet-about-hello-world.htm" "http://javascool.gforge.inria.fr/v4/?page=proglets&action=show&id=abcdAlgos&helpFile=./tutoriel.htm"
Redirect permanent "/proglet/doc/sujet-about-variables.htm" "http://javascool.gforge.inria.fr/v4/?page=proglets&action=show&id=abcdAlgos&helpFile=./variables.htm"
Redirect permanent "/proglet/doc/sujet-about-if.htm" "http://javascool.gforge.inria.fr/v4/?page=proglets&action=show&id=abcdAlgos&helpFile=./condition.htm"
Redirect permanent "/proglet/doc/doc/sujet-about-if.htm" "http://javascool.gforge.inria.fr/v4/?page=proglets&action=show&id=abcdAlgos&helpFile=./condition.htm"
Redirect permanent "/proglet/doc/sujet-about-functions.htm" "http://javascool.gforge.inria.fr/v4/?page=proglets&action=show&id=abcdAlgos&helpFile=./fonctions.htm"
Redirect permanent "/proglet/doc/sujet-about-while.htm" "http://javascool.gforge.inria.fr/v4/?page=proglets&action=show&id=abcdAlgos&helpFile=./boucles.htm"
Redirect permanent "/proglet/doc/about-memo.htm" "http://javascool.gforge.inria.fr/documents/sujets-mathinfo/memo-macros.htm"
Redirect permanent "/proglet/doc/about-bml.htm" "http://javascool.gforge.inria.fr/?page=developers&action=spec-hml"
Redirect permanent "/proglet/doc/about-bml-path.htm" "http://javascool.gforge.inria.fr/?page=developers&action=spec-hml"
Redirect permanent "/proglet/doc/about-prg2nd.htm" "http://javascool.gforge.inria.fr/?page=home&action=faq-infolycee"
Redirect permanent "/proglet/doc/about-proglet-Conva.htm" "http://javascool.gforge.inria.fr/?page=proglets&action=show&id=analogNumerique"
Redirect permanent "/proglet/doc/about-proglet-Dicho.htm" "http://javascool.gforge.inria.fr/?page=proglets&action=show&id=dichotomie"
Redirect permanent "/proglet/doc/about-proglet-Konsol.htm" "http://javascool.gforge.inria.fr/?page=proglets&action=show&id=abcdAlgos"
Redirect permanent "/proglet/doc/about-proglet-Konseol.htm" "http://javascool.gforge.inria.fr/?page=proglets&action=show&id=abcdAlgos"
Redirect permanent "/proglet/doc/about-proglet-Scope.htm" "http://javascool.gforge.inria.fr/?page=proglets&action=show&id=algoDeMaths"
Redirect permanent "/proglet/doc/about-proglet-Smiley.htm" "http://javascool.gforge.inria.fr/?page=proglets&action=show&id=codagePixels"
Redirect permanent "/proglet/doc/about-proglet-Synthe.htm" "http://javascool.gforge.inria.fr/?page=proglets&action=show&id=syntheSons"
Redirect permanent "/proglet/doc/about-proglet-Tortue.htm" "http://javascool.gforge.inria.fr/?page=proglets&action=show&id=tortueLogo"
Redirect permanent "/proglet/doc/sujet-appli-conva.htm" "http://javascool.gforge.inria.fr/?page=proglets&action=show&id=analogNumerique&helpFile=./exercice.htm"
Redirect permanent "/proglet/doc/sujet-appli-dicho.htm" "http://javascool.gforge.inria.fr/?page=proglets&action=show&id=dichotomie&helpFile=./exercice.htm"
Redirect permanent "/proglet/doc/sujet-appli-geometry.htm" "http://javascool.gforge.inria.fr/documents/sujets-mathinfo/sujet-appli-geometry.htm"
Redirect permanent "/proglet/doc/sujet-appli-image.htm" "http://javascool.gforge.inria.fr/?page=proglets&action=show&id=codagePixels&helpFile=./exercice.htm"
Redirect permanent "/proglet/doc/sujet-appli-imc.htm" "http://javascool.gforge.inria.fr/documents/sujets-mathinfo/sujet-appli-imc.htm" 
Redirect permanent "/proglet/exosdemaths/doc-files/sujet-about-tableaux.htm" "http://javascool.gforge.inria.fr/documents/sujets-mathinfo/sujet-about-tableaux.htm"
RedirectMatch permanent "^/proglet/ingredients/doc-files/.*\.htm$" "http://javascool.gforge.inria.fr/?page=proglets\&action=show\&id=abcdAlgos"
RedirectMatch permanent "^/proglet/exosdemaths/doc-files/.*\.htm" "http://javascool.gforge.inria.fr/?page=proglets\&action=show\&id=algoDeMaths"
RedirectMatch permanent "^/proglet/pixelsetcie/doc-files/.*\.htm$" "http://javascool.gforge.inria.fr/?page=proglets\&action=show\&id=codagePixels"
RedirectMatch permanent "^/proglet/convanalogique/doc-files/.*\.htm$" "http://javascool.gforge.inria.fr/?page=proglets\&action=show\&id=analogNumerique"
RedirectMatch permanent "^/proglet/javaprog/doc-files/.*\.htm$" "http://javascool.gforge.inria.fr/?page=proglets\&action=show\&id=javaProg"
RedirectMatch permanent "^(/v.)?/(proglet/.*\.htm)$" "http://javascool.gforge.inria.fr?page=$1/$2"
RedirectMatch permanent "^(/v.)?/documents/sketchbook/([a-zA-Z][a-zA-Z]*)[/]?$" "http://javascool.gforge.inria.fr/?page=proglets\&action=show\&id=$2"
RedirectMatch permanent "^(/v.)?/proglets/([a-zA-Z][a-zA-Z]*)[/]?$" "http://javascool.gforge.inria.fr/?page=proglets\&action=show\&id=$2"
RedirectMatch permanent "^/v[23]/.*" "http://javascool.gforge.inria.fr"


