<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Java's Cool 4.9</title>
  <meta charset="UTF-8">
  <style type="text/css">
      #main { margin-top: 80px;  }
  </style>
  <link href="{{ site.baseurl }}assets/pygments.css" rel="stylesheet">
  <link href="{{ site.baseurl }}assets/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="{{ site.baseurl }}assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
</head><body style="background-color:#FFFFFF;">

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{ site.baseurl }}index.html" style="margin: 0; margin-right: 30px; margin-top: 3px; padding:0;">
        <img alt="logo" src="{{ site.baseurl }}doc/logos/logo.png" style="height: 35px; padding: 0; margin: 0;"/>&nbsp;<b>Java'sCool 5</b> 
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="{{ site.baseurl }}wpages/proglets.html">Lancer les proglets</a></li>
          <li><a href="{{ site.baseurl }}doc/installer.html">Installer</a></li>
          <li><a href="{{ site.baseurl }}wpages/JavaScool:Ressources.html">Ressources</a></li>
          <li><a href="{{ site.baseurl }}doc/developper.html">Développeurs</a></li>
          <li><a href="{{ site.baseurl }}wpages/contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container" id="main">

{{content}}

</div><!--<hr style="color:#000000;background-color:#000000;height:4px" />-->

<!-- Bootstrap javascript : placed at the end of the document so the pages load faster -->
<script src="{{ site.baseurl }}assets/bootstrap/js/jquery.js"></script>
<script src="{{ site.baseurl }}assets/bootstrap/js/bootstrap-transition.js"></script>
<script src="{{ site.baseurl }}assets/bootstrap/js/bootstrap-alert.js"></script>
<script src="{{ site.baseurl }}assets/bootstrap/js/bootstrap-modal.js"></script>
<script src="{{ site.baseurl }}assets/bootstrap/js/bootstrap-dropdown.js"></script>
<script src="{{ site.baseurl }}assets/bootstrap/js/bootstrap-scrollspy.js"></script>
<script src="{{ site.baseurl }}assets/bootstrap/js/bootstrap-tab.js"></script>
<script src="{{ site.baseurl }}assets/bootstrap/js/bootstrap-tooltip.js"></script>
<script src="{{ site.baseurl }}assets/bootstrap/js/bootstrap-popover.js"></script>
<script src="{{ site.baseurl }}assets/bootstrap/js/bootstrap-button.js"></script>
<script src="{{ site.baseurl }}assets/bootstrap/js/bootstrap-collapse.js"></script>
<script src="{{ site.baseurl }}assets/bootstrap/js/bootstrap-carousel.js"></script>
<script src="{{ site.baseurl }}assets/bootstrap/js/bootstrap-typeahead.js"></script>

</body></html>
