<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="test.actionSet">
         <action
               label="&amp;Orphy Action"
               icon="icons/Orphy_icon.gif"
               class="org.unice.javascool.actions.OrphyAction"
               tooltip="Recuperation de donnees Orphy"
               menubarPath="Orphy/orphyGroup"
               toolbarPath="orphyGroup"
               id="test.actions.SampleAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.unice.javascool.orphy.commands.category"
            name="Orphy Category">
      </category>
      <command
            categoryId="org.unice.javascool.orphy.commands.category"
            id="org.unice.javascool.orphy.commands.demarrerOrphy"
            name="Demarrer Orphy">
      </command>
      <command
            categoryId="org.unice.javascool.orphy.commands.category"
            id="org.unice.javascool.orphy.commands.arreterOrphy"
            name="Arreter Orphy">
      </command>
      <command
            categoryId="org.unice.javascool.orphy.commands.category"
            id="org.unice.javascool.orphy.commands.acquisitionEntree"
            name="Acquisition Entree">
      </command>
      <category
            id="org.unice.javascool.orphy.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="org.unice.javascool.orphy.commands.category"
            id="org.unice.javascool.orphy.commands.reset"
            name="Reinitialiser Orphy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.unice.javascool.orphy.handlers.DemarrerOrphy"
            commandId="org.unice.javascool.orphy.commands.demarrerOrphy">
      </handler>
      <handler
            class="org.unice.javascool.orphy.handlers.ArreterOrphy"
            commandId="org.unice.javascool.orphy.commands.arreterOrphy">
      </handler>
      <handler
            class="org.unice.javascool.orphy.handlers.AcquisitionEntree"
            commandId="org.unice.javascool.orphy.commands.acquisitionEntree">
      </handler>
      <handler
            class="org.unice.javascool.orphy.handlers.ReinitialiserOrphy"
            commandId="org.unice.javascool.orphy.commands.reset">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.unice.javascool.orphy.commands.demarrerOrphy"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8">
      </key>
      <key
            commandId="org.unice.javascool.orphy.commands.arreterOrphy"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
      <key
            commandId="org.unice.javascool.orphy.commands.acquisitionEntree"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="org.unice.javascool.orphy.commands.reset"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+9">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.unice.javascool.orphy.menus.fonctionsOrphy"
               label="Orphy"
               mnemonic="M">
            <command
                  commandId="org.unice.javascool.orphy.commands.demarrerOrphy"
                  id="org.unice.javascool.orphy.menus.demarrerOrphy"
                  mnemonic="S">
            </command>
            <command
                  commandId="org.unice.javascool.orphy.commands.arreterOrphy"
                  id="org.unice.javascool.orphy.menus.arreterOrphy"
                  mnemonic="A">
            </command>
            <command
                  commandId="org.unice.javascool.orphy.commands.acquisitionEntree"
                  id="org.unice.javascool.orphy.menus.acquisitionEntree"
                  mnemonic="A">
            </command>
            <command
                  commandId="org.unice.javascool.orphy.commands.reset"
                  id="org.unice.javascool.orphy.menus.reset"
                  mnemonic="A">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
