<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="toc/tocintro.xml">
      </toc>
      <toc
            file="toc/tocinstall.xml">
      </toc>
      <toc
            file="toc/tocuserInterface.xml">
      </toc>
      <toc
            file="toc/tocconfFile.xml">
      </toc>
   </extension>

</plugin>
